.spinner-wrapper {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
}
.spinner-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}